<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
</head>

<body>
  <div id="root">
      <!-- This div's content will be managed by React. -->
    </div>
    

    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <!--<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>-->

    <script type="text/jsx">
    var AggregateTable = React.createClass({
        render(){
            // if(this.props.aggregate){
                return(
                        <span>
                            djdjd
                        </span>
                    )
            // }else{
                
            //}
        }
    })
    var SpecificAttributeItem = React.createClass({
        
        render(){
            let inputS ={marginRight:'5px',marginLeft:'5px'};
            return(
                <div className="form-group">
                    <label  style={inputS} for="">{this.props.attr}</label>
                    <input type="text" className="form-control" id="" placeholder=""/>
                  </div>
                )
        }
    })
    var DropDown = React.createClass({ 
       getAggregate(gameId){
           alert(gameId);
           let url = "/games/aggregate/"+gameId+"/"
            $.ajax({
                          type: "GET",
                          url:url ,
                        //   data: JSON.stringify(attempt,null,'\t'),
                          contentType: 'application/json;charset=UTF-8',
                          success: function(resultData) { 
                              this.state.aggregate = resultData.result;
                              this.setState(this.state);
                            //   alert(JSON.stringify(resultData.result));
                            //  console.log("success "+JSON.stringify(resultData));
                            //  var games = resultData.result.map((game)=>{"gameId":game.gameId,"generalGameAttributes":game.generalGameAttributes,"specificGameAttributes":game.specificeGameAttributes});
                                // self.state.games = resultData.result;
                                // self.setState(self.state);
                                // self.forceUpdate();
                          },
                          error: function(err){
                              alert(err);
                            //return cb(null, err,resolve);
                          }
                          });
           
       },
        sendAttempt(id,e){
            e.preventDefault();
            var values = $("#"+id).find('input').map(function() {
                                                 return ($(this).val());
                                                }).get();
            var allAttributes = this.props.generalGameAttributes.concat(this.props.specificGameAttributes);
            let attemptObj={}
             values.forEach((val,i)=>attemptObj[allAttributes[i]] = val)
             let attempt={'attempt':attemptObj}
            //  alert(attempt['level']);
            var self = this;
            let url = "/games/"+id.split('-').join(" ")+'/';
            alert(url);
            $.ajax({
                          type: "POST",
                          url:url ,
                          data: JSON.stringify(attempt,null,'\t'),
                          contentType: 'application/json;charset=UTF-8',
                          success: function(resultData) { 
                              $("#"+id).find('input').map(function() {
                                                 return ($(this).val(""));
                                                }).get();
                            //   alert(JSON.stringify(resultData.result));
                            //  console.log("success "+JSON.stringify(resultData));
                            //  var games = resultData.result.map((game)=>{"gameId":game.gameId,"generalGameAttributes":game.generalGameAttributes,"specificGameAttributes":game.specificeGameAttributes});
                                // self.state.games = resultData.result;
                                // self.setState(self.state);
                                // self.forceUpdate();
                          },
                          error: function(err){
                              alert(err);
                            //return cb(null, err,resolve);
                          }
                          });
            
        },
        render(){
            let inputS ={marginRight:'5px',marginLeft:'5px'} 
            let formS ={border:"solid black"}
            console.log('id')
            let id = this.props.gameId.split(" ").join("-")
            console.log(id);
            let aggregate;
            if(this.state && this.state.aggregate){
                aggregate = <AggregateTable aggregate={this.state.aggregate}/>
            }
            let aggLink = "/games/aggregate/"+this.props.gameId;
            return (
                <div >
                <form className="form-inline"style={formS} id={id}>
                 <h2>
                  {this.props.gameId}
                 </h2>
                  <div className="form-group">
                    <label  style={inputS}for="">{this.props.generalGameAttributes[0]} </label>
                    <input type="text" className="form-control"  placeholder=""/>
                  </div>
                  <div className="form-group">
                    <label  style={inputS} for="">{this.props.generalGameAttributes[1]}</label>
                    <input type="text" className="form-control" id="" placeholder=""/>
                  </div>
                  {this.props.specificGameAttributes.map((sp)=>{
                      return <SpecificAttributeItem attr={sp} />
                  })}
                  <div>
                    <a href={aggLink}>see the aggregate of game: {this.props.gameId}</a>
                  </div>
                  <button type="submit" className="btn btn-default" onClick={this.sendAttempt.bind(this,id)}>Send Attempt</button>
                </form>
                  <div>
                    {aggregate}
                  </div>
                </div>
              
                );
        }
    });
    var AddAttempt = React.createClass({
        render(){
            console.log('dfdf');
            return (
                    <div>
                         <div>
                            return {this.props.games.map((game,i)=>{
                                console.log(game);
                                return <DropDown gameId={game.gameId} generalGameAttributes={game.generalGameAttributes} specificGameAttributes={game.specificGameAttributes} key={i}/>
                            })}
                          </div>
                      </div>
                )
        }
    })
    var GameInput = React.createClass({ 

        removeAttribute: function(){
         console.log(this.props.index+1);
          this.props.removeAttribute(this.props.index); 
        },
        shouldComponentUpdate() {
             return true;
         },
        render: function(){
            let plusStyle = {'paddingRight':'4px'};
            console.log('inside attr');
            console.log(this.props);
         
            return (
                          <div className="form-group form-group-sm" >
                            <label className="col-sm-2 control-label" for="">attribute {this.props.index+1}</label>
                            <div className="col-sm-7">
                              <div>{this.props.attribute}</div>
                            {/*<div className="form-control " type="text" id="" placeholder="Small input" value={this.props.attribute} disabled="disabled"  ></div>*/}
                            </div>
                            <div className="col-sm-1">
                                  <i className="fa fa-minus fa-1 remove-item" aria-hidden="true" onClick={this.removeAttribute}></i>
                              </div>
                          </div>
                )
        }
    })
     var GameForm = React.createClass({
       addAttribute(e){
           let attr = $('#game-attribute').val();
           this.props.addAttribute(attr);
           $('#game-attribute').val("");
       },
        shouldComponentUpdate() {
             return true;
         },
         render: function(){
             console.log(this.props);
             console.log('gameForm')
             let lengthStore = this.props.gameAttributes.length;
             console.log(lengthStore);
             return (<div className="form-horizontal" id="game-form">
                        <div className="form-group form-group-lg">
                            <label className="col-sm-2 control-label" for="formGroupInputLarge">Game Name (GameId)</label>
                            <div className="col-sm-7">
                              <input className="form-control game-attr" type="text" id="gameId" defaultValue={this.props.gameId}  />
                            </div>
                        </div>
                        <div className="form-group form-group-lg">
                            <label className="col-sm-2 control-label" for="formGroupInputLarge">Add GameAttribute</label>
                            <div className="col-sm-7">
                                <input className="form-control game-attr" type="text" id="game-attribute"   />
                            </div>
                            <div className="col-sm-1">
                                  <i className="fa fa-plus fa-1 remove-item" aria-hidden="true" onClick={this.addAttribute}></i>
                             </div>
                        </div>
                       
                        {this.props.gameAttributes.map((attr,i)=><GameInput attribute={attr} 
                                                                            addAttribute={this.props.addAttribute}
                                                                            removeAttribute={this.props.removeAttribute}
                                                                            key={i}
                                                                            index={i}
                                                                            i={i}
                                                                            arrLength={lengthStore}
                                                                                                     />)}
                         <div className="form-group form-group-sm" id="submit-game">
                              <div className="col-sm-6" >
                                <button  type="button" className="btn btn-primary pull-right" onClick={this.props.sendGame} >Send Game</button>
                              </div>
                          </div>
                     </div>
                );
             
         }
     })
      
      var Forms = React.createClass({
        getInitialState: function(){
        		return {"gameId":['ex. game1'],
        		        "gameAttributes":["score","life"],
        		        "games":[]
        		}
        },
        getGames(){
            var self = this;
            $.ajax({
                          type: "GET",
                          url: "/games",
                        //   data: JSON.stringify(data,null,'\t'),
                          contentType: 'application/json;charset=UTF-8',
                          success: function(resultData) { 
                            //  console.log("success "+JSON.stringify(resultData));
                            //  var games = resultData.result.map((game)=>{"gameId":game.gameId,"generalGameAttributes":game.generalGameAttributes,"specificGameAttributes":game.specificeGameAttributes});
                                self.state.games = resultData.result;
                                self.setState(self.state);
                                self.forceUpdate();
                          },
                          error: function(err){
                              alert(err);
                            //return cb(null, err,resolve);
                          }
                          });    
        },
        
        componentDidMount(){
            this.getGames();
        },
        componentWillRecieveProps(){
            // this.getGames();
        },
        sendGame: function(){
            let data = {"specificGameAttributes":this.state.gameAttributes,"gameId":$('#gameId').val()};
            var self = this;
            $.ajax({
                          type: "POST",
                          url: "/games",
                          data: JSON.stringify(data,null,'\t'),
                          contentType: 'application/json;charset=UTF-8',
                          success: function(resultData) { 
                             console.log("success "+resultData);
                             $('#gameId').val("");
                             self.getGames();
                             
                              //return cb(resultData, null,resolve);
                          },
                          error: function(err){
                            //return cb(null, err,resolve);
                          }
                          });
        },
        removeAttribute: function(index){
            var copyOfState = Object.assign({}, this.state);
            var newArr = [ ...this.state.gameAttributes]
            copyOfState.gameAttributes = newArr.filter((m,i)=>{if(i !=index){
                return m}});
            this.setState(copyOfState);
            this.forceUpdate();
        },
         addAttribute: function(attr){
            this.state.gameAttributes = this.state.gameAttributes.concat([attr]);
            this.setState(this.state);
         },
         shouldComponentUpdate() {
             return true;
         },
        
        render: function() {
         divStyle={overflow:"hidden"}
          return (
              <div style={divStyle}>
                 <h1>Smarty Game</h1>
                <GameForm {...this.state}
                         addAttribute={this.addAttribute}
                        removeAttribute={this.removeAttribute}
                        sendGame={this.sendGame}
                 />
                 
                 <AddAttempt
                   games={this.state.games}
                   
                   
                 />
                 
            </div>
          )
        }
      });
      
      
      ReactDOM.render(
        <Forms/>,
        document.getElementById('root')
      );
    </script>
</body>